@import 'general/scss/variable.scss';

.BankAccountSwiper{
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  .swiper-container {
    width: 100%;
    height: 90px;
    overflow: visible;
  }
  .swiper-pagination-bullet-active {
    background-color: $background-color-highlight;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: -20px;
  }
}

.BankAccountSwiper__title {
  font-size: 13px;
  color: $text-color-brand-lighter;
  margin-bottom: 8px;
}