@import 'general/scss/variable.scss';

.MoneyInput{
  display: flex;
  flex-direction: column;
}

.MoneyInput__title {
  font-size: 13px;
  color: $text-color-brand-lighter;
  margin-bottom: 4px;
}

.MoneyInput__message {
  margin-top: 6px;
  font-size: 13px;
  height: 16px;
  color: $text-color-brand-light;
}

.MoneyInput__inputContainer {
  border-bottom: $border-default;
  position: relative;
  cursor: pointer;
}

.MoneyInput__input, .MoneyInput__inputSizer {
  font-size: 15pt;
  max-width: calc(100% - 25px);
  color: $text-color-6;
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 400;
  font-family: sans-serif;
  padding: 0;
  cursor: pointer;
}

.MoneyInput__inputSizer {
  visibility: hidden;
  position: absolute;
}

.MoneyInput__inputUnit {
  font-size: 15pt;
  color: $text-color-6;
  display: inline-block;
}