@import 'general/scss/variable.scss';

.MoneyInput{
  display: flex;
  flex-direction: column;
}

.MoneyInput__title {
  font-size: 13px;
  color: $text-color-brand-lighter;
  margin-top: 4px;
}

.MoneyInput__message {
  margin-top: 6px;
  font-size: 13px;
  height: 16px;
  color: $text-color-brand-light;
}

.MoneyInput__inputContainer {
  border-bottom: $border-default;
}

.MoneyInput__input {
  font-size: 18px;
  color: $text-color-6;
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
}

.MoneyInput__inputUnit {
  font-size: 18px;
  color: $text-color-6;
  display: inline-block;
}