@import 'general/scss/variable.scss';

.MoneyInput {
  display: flex;
  flex-direction: column;
}

.MoneyInput__title {
  font-size: 13px;
  color: $text-color-brand-lighter;
  margin-bottom: 4px;
}

.MoneyInput__message {
  margin-top: 6px;
  font-size: 13px;
  height: 16px;
  color: $text-color-brand-light;
  transform: translateX(0);
}

.MoneyInput__message--animation {
  animation: shake .5s ease-in-out 1;
}

.MoneyInput__inputContainer {
  border-bottom: $border-default;
  position: relative;
  cursor: pointer;
}

.MoneyInput__input, .MoneyInput__inputSizer {
  font-size: 15pt;
  max-width: calc(100% - 25px);
  color: $text-color-6;
  display: inline-block;
  background-color: $background-color-brand;
  border: none;
  outline: none;
  font-weight: 400;
  font-family: sans-serif;
  padding: 0;
  cursor: pointer;
}

.MoneyInput__input {
  color: transparent;
  position: relative;
}

.MoneyInput__inputSizer {
  position: absolute;
  z-index: 1;
}

.MoneyInput__inputSizer--borderBlink {
  &:after {
    content: "";
    position: absolute;
    right: -2px;
    bottom: 1px;
    height: calc(100% - 1px);
    border-right: 1px solid $text-color-6;
    animation: borderBlink 1.1s infinite step-end;
  }
}

.MoneyInput__inputUnit {
  font-size: 15pt;
  color: $text-color-6;
  display: inline-block;
}

@keyframes shake {
  12.5%, 87.5% {
    transform: translateX(-0.5px);
  }
  25%, 75% {
    transform: translateX(1px);
  }
  37.5%, 62.5% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(1px);
  }
}

@keyframes borderBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}