@import 'general/scss/variable.scss';

.Button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 32px;
  background-color: $background-color-clear;
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: $text-color-brand-darker;
  z-index: 0;

  &-large {
    height: 48px;
    .Button__text {
      font-size: 16px;
      font-weight: 600;
    }
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 70%;
    padding-top: 70%;
    border-radius: 50%;
    background-color: $background-color-brand-lighter;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    z-index: -1;
  }

  &:hover {
    cursor: pointer;
    color: $text-color-6;
    &:before {
      opacity: 1;
      transform: scale(2);
    }
  }

  &:active {
    &:before {
      background-color: $background-color-brand-active;
    }
  }

  &--disabled {
    background-color: $background-color-disabled;
    color: $text-color-disabled;
    &:before {
      display: none;
    }
    &:hover {
      cursor: not-allowed;
      color: $text-color-disabled;
    }
  }

  &--loading {
    cursor: not-allowed;
    color: $text-color-6;
    &:before {
      cursor: default;
      opacity: 1;
      transform: scale(2);
    }

    &:active {
      &:before {
        background-color: $background-color-brand-lighter;
      }
    }
  }
}