@import 'general/scss/variable.scss';

.Message {
  margin-top: auto;
  background-color: $background-color-brand-darker;
  color: $text-color-6;
  height: 25px;
  font-size: 14px;
  border-radius: 12px;
  line-height: 25px;
  align-self: center;
  padding: 0 12px;
}